@import url(./screen.common.scss);

div.root {
    display: grid;
    place-items: center;
    justify-content: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    // left: 0;
    z-index: 9 !important;
    background: rgba($color: white, $alpha: 1);
}