<app-screen [notMain]="true">
    <h1>Правила</h1>
    <p style="text-align: center;">
        Существует поле 4х4, на котором появляются плитки с величинами,
        выглядящие по-разному (величина, обозначение, предмет,
        ассоцииоранный с этой величиной). <br />
        Соединяя эти плитки, можно получить новую плитку, которая является
        новой величиной. <br />
        При нажатии стрелок на клавиатуре, кнопок управления на экране (по
        умолчанию отключены, включаются в настройках) или свайпов по полю,
        <br />
        происходит сдвиг всех плиток в выбранную сторону и все возможные
        соединения выполняются. <br />
        После каждого сдвига появляется новая случайная величина, которая
        будет подсвечена красным. <br />
        Существует возможность откатить на одну позицию назад кнопкой
        "Отменить ход". <br />
        Для использования функций таблицы рекордов необходимо сделать вход кнопкой в углу экрана.
    </p>
</app-screen>